
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.*;

import java.util.Map;
import java.util.List;

#ImportPackage(${model})
#ImportPackage("${model}Service")
#ImportPackage("${model}Service")

/**
 * $!{comment}
 * @author $!{email}
 * @date ${NOW}
 */
@RestController
@RequestMapping("/#LowerCase(${model})")
public class ${model}Controller {

    @Resource
    private #Service(${model}) #ServiceImpl(${model});

    @Resource
    private #Service(${model}) #ServiceImpl(${model});

    /**
     * 查询$!{comment}
     * @param id
     * @return
     */
    @GetMapping("/{id}")
    public ${model} find${model}(@PathVariable Long id) {
        return #ServiceImpl(${model}).findById(id);
    }

    /**
     * 创建$!{comment}
     * @param #LowerCase(${model})
     * @return
     */
    @PostMapping
    public Long create${model}(@RequestBody ${model} #LowerCase(${model})) {
        return #ServiceImpl(${model}).create(#LowerCase(${model}));
    }
}