
import org.springframework.stereotype.Repository;
import java.util.List;

#ImportPackage(${model})

/**
 * $!{comment} DAO层
 * @author $!{email}
 * @date ${NOW}
 */
public interface ${model}Dao {

    int create(${model} #LowerCase(${model}));

    int creates(List<${model}> #LowerCase(${model}));

    ${model} findById(Long id);

    List<${model}> findByIds(List<Long> ids);

    int update(${model} #LowerCase(${model}));

    int deleteById(Long id);

    Long count(${model} #LowerCase(${model}));

    List<${model}> paging(PageParam page, ${model} #LowerCase(${model}));

    List<${model}> list(${model} #LowerCase(${model}));
}