
import java.util.Map;
import java.util.List;

#ImportPackage(${model})

/**
 * $!{comment}读服务接口
 * @author $!{email}
 * @date ${NOW}
 */
public interface #Service(${model}) {

    /**
     * 查询$!{comment}
     * @param id
     * @return #LowerCase(${model})
     */
    ${model} findById(Long id);

    /**
     * 创建$!{comment}
     * @param #LowerCase(${model})
     * @return Boolean
     */
    Boolean create(${model} #LowerCase(${model}));
}