
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.Map;
import java.util.List;

#ImportPackage(${model})
#ImportPackage("${model}Service")
#ImportPackage("${model}Dao")

/**
 * $!{comment}读服务实现类
 * @author $!{email}
 * @date ${NOW}
 */
@Service
public class #ServiceImpl(${model},true) implements #Service(${model}) {

    @Resource
    private ${model}Dao #LowerCase(${model})Dao;

    @Override
    public ${model} findById(Long id) {
        return #LowerCase(${model})Dao.findById(id);
    }

    @Override
    public Boolean create(${model} #LowerCase(${model})) {
        return #LowerCase(${model})Dao.create(#LowerCase(${model})) > 0;
    }

}
